---
import Stats from '@/components/Stats.astro';
import Features from '@/components/Features.astro';
// import HeroSection from '@/components/HeroSection.astro';
import Layout from '@/layouts/Layout.astro';
import Testimonials from '@/components/Testimonials.astro';
import CallToAction from '@/components/CallToAction.astro';
import Blog from '@/components/Blog.astro';
import Swiper from '@/components/Swiper.astro';
import Counter from '@/components/Counter.astro'
import Container from "@/components/Container.astro"
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-40">
		<!-- <HeroSection/> -->
		<Swiper />
		<Container>
		<div class="py-8 px-10">
			<h2 class="text-base lg:text-xl text-center font-bold">LOADTESTERS</h2>
			<div class="h-[3px] w-1/5 mx-auto bg-primary my-5"></div>
			<p class="leading-relaxed lg:text-lg">LOADTESTERS is a trusted provider of comprehensive pile testing services using advanced Bi-Directional Load Testing (BDLT) methods. With our expertise in geotechnical engineering and state-of-the-art equipment, we offer accurate and reliable assessments of pile integrity, load capacity, and performance. Our innovative approach ensures that your pile foundations meet stringent quality standards, comply with industry regulations, and provide the required strength and stability for your construction projects.</p>
		</div>
		</Container>
		<!-- <Features/> -->
		<Counter />

		<Container>


      <div class="py-8 px-10">
        <h2 class="text-base lg:text-xl text-center font-bold">Why Choose LOADTESTERS?</h2>
        <div class="h-[3px] w-1/5 mx-auto bg-primary my-5"></div>
       
      </div>


      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center px-4 py-8">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="images/experties.jpg"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl ">
            Expertise and Experience:
          </h2>
          <p class="my-8 text-gray-800">
            LOADTESTERS is backed by a team of 
            experienced geotechnical engineers 
            and pile testing specialists who possess 
            extensive knowledge of pile foundation 
            analysis and design. With our expertise, 
            we deliver accurate results, identify 
            potential issues, and provide valuable
            recommendations to optimize test pile 
            performance.

          </p>
        </div>
      </div>

			<div class="space-y-6 justify-between bg-base-1  text-gray-600 md:flex flex-row md:gap-6 md:space-y-0 lg:gap-12 lg:items-center px-4 py-8">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="images/equipment.jpg"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>

        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl ">
            Advanced Testing Equipment:
          </h2>
          <p class="my-8 text-gray-800">
            We utilize state-of-the-art testing 
            equipment and instruments, including 
            calibrated jacks, displacement sensors, 
            auto level and data acquisition systems, 
            to ensure precise and reliable pile testing 
            outcomes. Our cutting -edge equipment 
            is calibrated annually by accredited 
            laboratories and maintained to meet the 
            highest industry standards
          </p>
        </div>
      </div>

			<div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center px-4 py-8">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="images/quality.jpg"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl ">
            Compliance and Quality Assurance:
          </h2>
          <p class="my-8 text-gray-800">
            LOADTESTERS is committed to ensuring 
            compliance with relevant codes, standards, 
            and regulations. We adhere to industry 
            best practices and conduct all pile testing 
            procedures with utmost care and accuracy. 
            Our comprehensive reports provide 
            detailed documentation for regulatory 
            compliance and quality assurance 
            purposes.
 
          </p>
        </div>
      </div>
    </Container>
		<!-- <Stats/> -->
		<!-- <Testimonials/> -->
		<!-- <CallToAction/> -->
		<!-- <Blog/> -->
	</main>
</Layout>