---
import Container from "./Container.astro"

---

<div id="blog">
  <Container>
      <div class="mb-12 space-y-2 text-center">
        <h2 class="text-3xl font-bold text-gray-800 md:text-4xl ">Projects</h2>
        <p class="lg:mx-auto lg:w-6/12 text-gray-800">
          Projects using Bi-Directional Load Testing that he has involved include:
        </p>
      </div>
      <div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="images/malaysia.jpg"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              Malaysia
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              <ul>
                <li>Lot C171, Kuala Lumpur </li>
                <li>Berjaya Central Park, Kuala Lumpur </li>
                <li>Four Season Hotel Kuala Lumpur </li>
                <li>Grand Hyatt Kuala Lumpur </li>
                <li>JB Second Bridge, Johor </li>
                <li>Double Electrified Rail Project, Perak.</li>
                </ul>
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="images/singapore.jpg"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              Singapore
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              <ul>
                <li>Changi Water Reclamation Plant </li>
                <li>One Raffles Quay </li>
                <li>Paya Lebar Expressway (C421, C423) </li>
                <li>Circle Line MRT (C821, C822, C824, C825) </li>
                <li>The Central </li>
                <li>Singapore Management University (SMU) </li>
                <li>ICON Condominium </li>
                <li>Vision Crest Development </li>
                <li>Extension of Queensway to AYE </li>
                <li>SIF Building </li>
                <li>Orchard Turn Development </li>
                <li>Marina Bay Sand IR </li>
                <li>Orchard Central </li>
                <li>One Shenton Way</li>
                </ul>
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="images/indonesia.jpg"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              Indonesia
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              <ul>
                <li>Pakubuwono Residence, Jakarta </li>
                <li>Cipularang Highway, Cipularang </li>
                <li>Plaza Indonesia Extension, Jakarta </li>
                <li>Oasis Central Sudirman, Jakarta</li>
                </ul>
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>

        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <!-- <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/> -->
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              Vietnam
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              <ul>
                <li>27, Lang Ha, Dong Da, Hanoi </li>
                <li>Hiep Phu Ward District Residential, Ho Chi Minh City </li>
                <li>Thaun Phuoc Bridge, Danang </li>
                <li>Saigon M&C Tower, Ho Chi Minh City </li>
                <li>Tran Hung Dao, Ho Chi Minh City </li>
                <li>PTSC Skidway Project, Vung Tau City </li>
                <li>Can Tho Bridge, Can Tho </li>
                <li>My Thuan Bridge 2, My Thuan</li>
                </ul>
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>

        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <!-- <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/> -->
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              Philippines
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              Cebu – Cordova Link Expressway, Cebu 
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <!-- <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/> -->
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              South Korea
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              <ul>
                <li>Incheon Bridge, Incheon </li>
                <li>Songdo Tower, Songdo City </li>
                <li>Daegu City Railway, Daegu </li>
                <li>Adelnis Apartment, Busan </li>
                <li>PHC for Dong Ha University, Busan </li>
                <li>Lotte Driven Pile </li>
                <li>Poonglim Songdo Apartment, Songdo city </li>
                <li>Chung Ju City, Korea </li>
                <li>Nam Cheong Dong Complex</li>
                </ul>
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <!-- <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/> -->
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              Taiwan
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              Tamkang Bridge, Taipei. 
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <!-- <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/> -->
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              China
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              Fujian LNG Tank, Putian
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <!-- <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/> -->
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              New Zealand
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              SH1 Northen Motorwat Extension, Auckland
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <!-- <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/> -->
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              Australia
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              Pakenham Level Crossing Removal, Melbourne
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <!-- <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/> -->
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              India
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              <ul>
                <li>Urbana Township at Anadapur, Kolkata </li>
                <li>Lodha World Place, Mumbai</li>
                </ul>
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <!-- <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/> -->
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              Qatar
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              <ul>
                <li>Dubai Tower, Doha </li>
                <li>Al Barjeel Tower, Doha </li>
                <li>Quascomil Qatar</li>
                </ul>
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <!-- <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/> -->
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              U.A.E
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              <ul>
                <li>Sheik Zayed Bridge, Abu Dhabi </li>
                <li>Park Place, Duabi </li>
                <li>The Palm Cresent Bridge, Dubai </li>
                <li>Pinnacle Tower, Dubai </li>
                <li>Dubai Marina, Dubai </li>
                <li>Dubai Tiara</li>
                </ul>
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100  bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <!-- <img src="https://images.unsplash.com/photo-1661749711934-492cd19a25c3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80"
            alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105"/> -->
          </div>
          <div class="mt-6 relative">
            <h3 class="text-2xl font-semibold text-gray-800 ">
              Republic of Benin
            </h3>
            <p class="mt-6 mb-8 text-gray-800">
              Cotonou Bridge, Cotonou
            </p>
            <!-- <a class="inline-block" href="#">
              <span class="text-info ">Read more</span>
            </a> -->
          </div>

        </div>

      </div>
  </Container>
</div>