---
import Container from "./Container.astro"

---
<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img class="object-cover max-w-none lg:max-w-full lg:w-full" src="/images/slider1.jpg"></div>
    <div class="swiper-slide"><img class="object-cover max-w-none lg:max-w-full lg:w-full" src="/images/slider2.jpg"></div>
    <div class="swiper-slide"><img class="object-cover max-w-none lg:max-w-full lg:w-full" src="/images/slider3.jpg"></div>
    <div class="swiper-slide"><img class="object-cover max-w-none lg:max-w-full lg:w-full" src="/images/slider4.jpg"></div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div>

<script>
  // import Swiper bundle with all modules installed
  import Swiper from 'swiper/bundle';

  // import styles bundle
  import 'swiper/css/bundle';


  const swiper = new Swiper('.swiper', {
  // Optional parameters
  // direction: 'vertical',
  autoplay:true,
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  // scrollbar: {
  //   el: '.swiper-scrollbar',
  // },
});
</script>
<style>
  .swiper {
    width: 100%;
    height: 100vh;
  }
</style>